In [ ]:
# recap
#comparison operators
# logical operators
#useful operators-membership operator, arith opr in special cases
# continue with strings

In [1]:
1. Python 7 data types

SyntaxError: invalid syntax (<ipython-input-1-931fc9af2811>, line 1)

In [ ]:
Numbers-int, float, complex

In [ ]:
explicit-int(),float(),complex(),bin(),oct(),hex()

In [ ]:
arithmetic opr

In [ ]:
PEDMAS-

In [ ]:
ord(), chr()

In [1]:
chr(97)

'a'

In [2]:
12>23

False

In [3]:
45<34

False

In [4]:
45.0==45.0

True

In [5]:
12<=12

True

In [6]:
23>=23

True

In [7]:
'and'>'apple'

False

In [8]:
#logical operator in python

In [9]:
a=78
v=90
not(a<v)

False

In [12]:
and, or ,not

SyntaxError: invalid syntax (<ipython-input-12-9444cd4c1dbf>, line 1)

In [13]:
# assignment

In [14]:
abc=1007

In [15]:
abc+=1

In [16]:
abc

1008

In [10]:
value=123
value-=2

In [11]:
value

121

In [12]:
value=1000

In [13]:
value*=10

In [14]:
value

10000

In [15]:
q=78.90

In [16]:
q/=2

In [14]:
q

39.45

In [15]:
1/0

ZeroDivisionError: division by zero

In [17]:
import math

In [18]:
math.degrees(45)

2578.3100780887044

In [19]:
math.radians(90)

1.5707963267948966

In [20]:
math.factorial(5)

120

In [21]:
math.tau

6.283185307179586

In [22]:
math.pi

3.141592653589793

In [23]:
math.gcd(45,5)

5

In [25]:
math.log10(45)

1.6532125137753437

In [26]:
import statistics

In [27]:
statistics.mean([33,28.9,27.5])

29.8

In [28]:
statistics.median([1,2,3,4,5])

3

In [29]:
(33+28.9+27.5)/3

29.8

In [30]:
# immutable

In [31]:
price_of_share=-334

In [32]:
price_of_share[0]=2 # immutability

TypeError: 'int' object does not support item assignment

In [33]:
# membership operator

In [34]:
12 in 123

TypeError: argument of type 'int' is not iterable

In [35]:
12.076 in 12.076

TypeError: argument of type 'float' is not iterable

In [36]:
# strings

In [40]:
'a12&*     '

'a12&*     '

In [42]:
'abcde'# homogeneous alphabetical

'abcde'

In [44]:
'12345'# homogeneous numerical

'12345'

In [46]:
"today's python class was at 10 am !" # heterogeneous

"today's python class was at 10 am !"

In [47]:
"data"

'data'

In [51]:
data='machine learning'
data

'machine learning'

In [53]:
data.capitalize()

'Machine learning'

In [54]:
data.casefold()

'machine learning'

In [55]:
data.endswith('g')

True

In [56]:
a=data.find('e')# first occurence of your data
a

6

In [57]:
data.find('e',a+1)

9

In [58]:
data.index('m')

0

In [59]:
data

'machine learning'

In [60]:
data.isalnum()

False

In [61]:
data.isalpha()

False

In [62]:
data.isascii()

True

In [63]:
name='shambhavi123'

In [64]:
name.isalnum()

True

In [65]:
data

'machine learning'

In [77]:
data1='10'

In [78]:
data1.isdecimal()

True

In [83]:
data1.isnumeric()

True

In [84]:
data

'machine learning'

In [85]:
data.islower()

True

In [142]:
data.isupper()

False

In [143]:
data1.isprintable()

True

In [87]:
data='my clas is at 10 am'
data

'my clas is at 10 am'

In [88]:
data.upper()

'MY CLAS IS AT 10 AM'

In [89]:
data.lower()

'my clas is at 10 am'

In [90]:
qwe="          "

In [91]:
qwe.isspace()

True

In [92]:
data

'my clas is at 10 am'

In [93]:
data.replace('clas','class')

'my class is at 10 am'

In [94]:
technology='python$sql$tableau'

In [95]:
technology.split("$")

['python', 'sql', 'tableau']

In [96]:
# indexing and slicing in strings-7 levels

In [97]:
#errors and their corrections

In [98]:
abc='andy james'

In [99]:
abc[0:-1] # exception ,interviews

'andy jame'

In [100]:
abc

'andy james'

In [101]:
abc[-8:-2]

'dy jam'

In [102]:
abc

'andy james'

In [103]:
abc[:-6]

'andy'

In [104]:
abc[-9:-4]

'ndy j'

In [105]:
value='data science '

In [106]:
value.endswith(' ')

True

In [107]:
value[::-2]

' cec td'

In [17]:
value[::2]

TypeError: 'int' object is not subscriptable

In [18]:
value
# with the help of indexing and slicing , can you reverse a string.

10000

In [110]:
value

'data science '

In [111]:
value[::-1]

' ecneics atad'

In [112]:
value

'data science '

In [113]:
value[0::-2]

'd'

In [114]:
value.reverse()

AttributeError: 'str' object has no attribute 'reverse'