In [ ]:
mode control flow stm
nested statements
loops
list comprehensions today
keyword in python -break, continue , pass

In [1]:
if condition:
    body

NameError: name 'condition' is not defined

In [2]:
if 'b' in 'apple':
    print('match found')
else:
    print("try again")

try again

In [3]:
match=input("what is the data to be found? ")
pool=input("What is the pool of data from which the data has to be retrieved ")

if match in pool:
    print("done")
else:
    print('fail')

what is the data to be found? hi
What is the pool of data from which the data has to be retrieved heya
fail

In [ ]:
find out whether a number is odd.

In [10]:
number=int(input("please enter a valid number"))
if number==0:
    print("its zero. its neither even nor odd")
elif number%2==0:
    print("its an even number")
else:
    print("odd")

please enter a valid number67
odd

In [ ]:
whether a number is positive or negative.

In [14]:
number=float(input("please enter a valid number"))
if number==0:
    print("its zero. its neither negative nor positive")
elif number<0:
    print("its a negative number")
else:
    print("its a positive number")

please enter a valid number90
its a positive number

In [16]:
studentid=input("what is your GL student id?")
password=input("what is the login password for the class?")

if studentid=='sham123' and password=='python100':
    print("login successful")
else:
    print("try again")

what is your GL student id?ghgh
what is the login password for the class?jhjhh
try again

In [20]:
location=input("in which city are you located?")

if location=='Bangalore' or location=='Bengaluru':
    print("youre in karnataka")
elif location=='Bombay' or location=='Mumbai':
    print("youre in maharashtra")
else:
    print("youre located somewhere else")

in which city are you located?goa
youre located somewhere else

In [5]:
a='DATA'
a.lower()

'data'

In [ ]:
find out the bigger number between two number

In [25]:
num1=float(input("please enter a valid number"))
num2=float(input("please enter a valid number"))

if num1>num2:
    print("The bigger number is",num1)
else:
    print("the bigger number is",num2)

please enter a valid number78
please enter a valid number78
the bigger number is 78.0

In [8]:
name=input("please enter your full name as on aadhar card.").split()

please enter your full name as on aadhar card.varun jain

In [9]:
name

['varun', 'jain']

In [35]:
location=input("in which city are you located?").lower()

if location=='bangalore' or location=='bengaluru':
    print("youre in karnataka")
elif location=='bombay' or location=='mumbai':
    print("youre in maharashtra")
else:
    print("youre located somewhere else")

in which city are you located?MUMBAI
youre in maharashtra

In [30]:
s='shambhavi'

In [31]:
s.upper()

'SHAMBHAVI'

In [32]:
s.lower()

'shambhavi'

In [12]:
pancard=input("please enter your valid pancard number").upper()
print(pancard)
if pancard.isalnum():
    print("correct data")
else:
    print("please enter again")

please enter your valid pancard numbervaru1234
VARU1234
correct data

In [53]:
cellno=int(input("please enter your valid indian cell number"))
cellno=str(cellno)
if len(cellno)==10:
    print("you are using an indian cell phone number")

please enter your valid indian cell number9588432296
you are using an indian cell phone number

In [ ]:
# credit card validation code

In [ ]:
sbi_valid_ccno=[1234432156788765,6789987645677654]

In [ ]:
ccno=int(input("please enter your valid cc no"))
if ccno in sbi_valid_ccno:
    print("its a valid card")
else:
    print("its not a valid card")

In [56]:
ccno=int(input("please enter your valid cc no"))
ccno=str(ccno)
if len(ccno)==16:
    print("its a valid cc no")
else:
    print("pl try again")

please enter your valid cc no1234432156788765
its a valid cc no

In [58]:
valid_bank_customers=['piyali dey','shambhavi shukla']

In [60]:
name=input("please enter your registered name with the name")
if name in valid_bank_customers:
    print("valid")
else:
    print("not valid")

please enter your registered name with the namesha,mm
not valid

In [ ]:
mm=int(input("please enter the expiry month on you cc no"))

if mm<1 or mm>12:
    print("not valid")
else:
    print("valid")

In [61]:
mm=int(input("please enter the expiry month on you cc no"))
if mm in range(1,13):
    print("valid")

please enter the expiry month on you cc no1
valid

In [13]:
expiry_year=int(input("please ent the exp year "))
expiry_year=str(expiry_year)

if len(expiry_year)==4:
    expiry_year=int(expiry_year)
    if expiry_year>2020:
        print("you card is valid")
    else:
        print("your card is expired")
else:
    print("the length is not right")

please ent the exp year 1995
your card is expired

In [5]:
if yyyy==2021:
    if mm==4:
        if dd==26:
            print("todays date is 26 april 2021")

NameError: name 'yyyy' is not defined

In [ ]:
if continent=='Asia':
    if country=='India':
        if state=='karnataka':
            if city=='Bangalore':
                if area=='HSR layout':
                    if sector==3:
                        print("welcome to GL")

In [70]:
vowels=['a','e','i','o','u']
#consonants

In [ ]:
python program to check is a vowel or not

In [74]:
data=input("please enter an alpha").lower()
if data in vowels:
    print("its a vowel")
else:
    print("its a consonant")

please enter an alphaE
its a vowel

In [ ]:
for iterator in iterable:
    Body

In [8]:
for car in ['ABCD','GHTY']:
    print(car)

ABCD
GHTY

In [9]:
for car in ['ABCD','GHTY']:
    print(car, end=" ")

ABCD GHTY

In [10]:
for car in ['ABCD','GHTY']:
    print(car, end="\t")

ABCD	GHTY

In [87]:
for number in 12345:
    print(number)

TypeError: 'int' object is not iterable

In [90]:
for data in True:
    print(data)

TypeError: 'bool' object is not iterable

In [95]:
for month in ['jan','feb','march']:
    print(month.upper())

JAN
FEB
MARCH

In [100]:
for currency in ('INR','USD','SGD'):
    if currency=='INR':
        print("this is from india")
    else:
        print("this is not from india")

this is from india
this is not from india
this is not from india

In [7]:
d={'1':1,'2':4,'3':9,'four':16}

In [8]:
for keys,values in d.items():
    if keys.isnumeric():
        print('valid')
    else:
        print("not a number")

valid
valid
valid
not a number

In [131]:
d2={'UID':'HGTTGT','pan':'ghghg'}

In [138]:
for keys,values in d2.items():
    if keys.isupper():
        print('valid')
    else:
        print('ntv')

valid
ntv

In [ ]:
write a python code to print odd data in range 1, 50

In [154]:
for numbers in range(1,50,2):
    print(numbers, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [155]:
for numbers in range(0,50):
    if numbers%2!=0:
        print(numbers, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
IBM-data scientist- elimination round 1

In [ ]:
write a python program to print list of numbers from 71 to 80.
thee code should not have any number but the output should be a number.

In [162]:
for data in range(ord('G'),ord('Q')):
    print(data)

71
72
73
74
75
76
77
78
79
80

In [ ]:
to check whether a number is divisble by 5 and 15

In [164]:
num=float(input("please enter"))
if num%5==0 and num%15==0:
    print("this number is div by both 5 and 15",num)

please enter10

In [165]:
# print formatting with strings

In [14]:
year=int(input("what is the cuurent year"))
print("the current year is %d" %year)

what is the cuurent year2021
the current year is 2021

In [15]:
print("the current year is %.2f" %year)

the current year is 2021.00

In [8]:
print("the current year is {}".format(2021))

the current year is 2021

In [178]:
print("the current year is {} and month is {}".format(2021,'april'))

the current year is 2021 and month is april

In [181]:
print("the current year is {year} and month is {month}".format(year=2021,month='april'))

the current year is 2021 and month is april

In [182]:
# fstrings

In [183]:
d={'fruit':'mango'}

In [189]:
print(f"my fav fruit is {d['fruit']}")

my fav fruit is mango