In [1]:
reduce 
recursive
inclass day 4

SyntaxError: invalid syntax (<ipython-input-1-4762ac57ce84>, line 3)

In [2]:
from functools import reduce

sale = [14565,65460,74450,54546,23245,14543,84355,54566]
total_sale = reduce(lambda a, b: a + b, sale)
print(total_sale)

385730

In [3]:
from functools import reduce

factorial = reduce(lambda p,q : p*q , range(1,7))

print("The factorial of 6 is ",factorial)

The factorial of 6 is  720

In [5]:
from functools import reduce

sum = reduce(lambda a,b : a+b , range(10))
print(sum)

45

In [6]:
from itertools import accumulate
a=[1,2,3,4,5]
x=list(accumulate(a,lambda i,j:i+j ))
x

[1, 3, 6, 10, 15]

In [7]:
a=[1,2,3,4,5]
y=(reduce(lambda i,j:i+j ,a))
y

15

In [1]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)
 
 
for i in range(15):
    print(fib(i), end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [9]:
def sum_list(nums):
    if len(nums) == 0:
        return 0

    last_num = nums.pop()
    return last_num + sum_list(nums)





num = [1,2,3,4]
sum_list(num)

10

In [7]:
x=100

In [10]:
def val(x):
    x=10
    return 100

In [12]:
val(x)

100

In [13]:
print(x)

100

In [ ]:
for loops is used for hopping over data
while loop is used to run a code multiple times

In [16]:
for data in [1,2,3,4,5]:
    print(data*2)

2
4
6
8
10

In [17]:
while True:
    print("the double of a number")
    num=int(input())
    print("the answer is",num*2)
    choice=input("do ypu want to continue")
    if choice=='yes':
        continue
    else:
        break

the double of a number
5
the answer is 10
do ypu want to continueyes
the double of a number
6
the answer is 12
do ypu want to continueno

In [19]:
str(23) + 'tuutt'

'23tuutt'

In [21]:
str(67)+'iuuuiuu'

'67iuuuiuu'

In [22]:
45 in [45,67]

True