set
methods
errors
inbuilt function
prperties
indexing and slicingg
inclass lab day 2
mode control flow

In [1]:
d='data'
d[: : -1]

'atad'

In [2]:
a=(1,2,3)
a=list(a)
lista=(1,2,3)

In [3]:
a=(1,2,3)

In [4]:
a1=list(a)

In [5]:
a1.append(5)

In [6]:
a1

[1, 2, 3, 5]

In [ ]:
#set

In [ ]:
a set is a collection of unique elements which is unordered.

In [1]:
a=set()

In [2]:
abc={12,34,56,78,78,56}

In [3]:
type(abc)

set

In [4]:
l1=[0.11,0.00078,78,65,65,65,78]

In [5]:
s=set(l1)

In [6]:
s

{0.00078, 0.11, 65, 78}

In [7]:
l2=['abc','ght','aare',10,77,45,'*&%']

In [8]:
l2=set(l2)

In [9]:
l2

{'*&%', 10, 45, 77, 'aare', 'abc', 'ght'}

In [10]:
1. unique
2. ordered
3. preferential behavior

SyntaxError: invalid syntax (<ipython-input-10-db55c8b86cbd>, line 1)

In [11]:
l1=[]

In [12]:
l1=set(l1)

In [13]:
l1

set()

In [14]:
l1.add(56)

In [15]:
l1

{56}

In [16]:
l1.add(78)

In [17]:
l1

{56, 78}

In [18]:
l1.add(56)

In [19]:
l1.add(89)

In [20]:
l1

{56, 78, 89}

In [21]:
superset={'India','srilanka','bhutan','china'}

In [22]:
subset={'India','bhutan'}

In [23]:
superset.issuperset(subset)

True

In [24]:
subset.issubset(superset)

True

In [25]:
superset

{'India', 'bhutan', 'china', 'srilanka'}

In [26]:
subset

{'India', 'bhutan'}

In [27]:
superset.isdisjoint(subset)

False

In [28]:
superset.union(subset)

{'India', 'bhutan', 'china', 'srilanka'}

In [29]:
superset.intersection(subset)

{'India', 'bhutan'}

In [30]:
superset

{'India', 'bhutan', 'china', 'srilanka'}

In [31]:
subset

{'India', 'bhutan'}

In [32]:
superset.difference(subset)

{'china', 'srilanka'}

In [33]:
superset-subset

{'china', 'srilanka'}

In [34]:
subset-superset

set()

In [35]:
a1={1,2,3}
b1={8,9,0}

In [36]:
a1-b1

{1, 2, 3}

In [37]:
b1-a1

{0, 8, 9}

In [38]:
a={1,2,3,4,5}
b={3,4,5,6}

In [39]:
a-b

{1, 2}

In [40]:
b-a

{6}

In [41]:
superset

{'India', 'bhutan', 'china', 'srilanka'}

In [42]:
subset

{'India', 'bhutan'}

In [43]:
superset.pop()

'bhutan'

In [44]:
superset

{'India', 'china', 'srilanka'}

In [45]:
superset={'India','srilanka','bhutan','china'}

In [46]:
superset.remove('china')

In [47]:
superset

{'India', 'bhutan', 'srilanka'}

In [48]:
superset.update('maldives')

In [49]:
superset

{'India', 'a', 'bhutan', 'd', 'e', 'i', 'l', 'm', 's', 'srilanka', 'v'}

In [50]:
superset.update({'pakistan'})

In [51]:
superset

{'India',
 'a',
 'bhutan',
 'd',
 'e',
 'i',
 'l',
 'm',
 'pakistan',
 's',
 'srilanka',
 'v'}

In [55]:
a={1,2,3,4,5}

In [56]:
a.pop()

1

In [57]:
a.pop()

2

In [58]:
superset

{'India',
 'a',
 'bhutan',
 'd',
 'e',
 'i',
 'l',
 'm',
 'pakistan',
 's',
 'srilanka',
 'v'}

In [59]:
superset.update(('andaman'))

In [60]:
superset

{'India',
 'a',
 'bhutan',
 'd',
 'e',
 'i',
 'l',
 'm',
 'n',
 'pakistan',
 's',
 'srilanka',
 'v'}

In [61]:
superset

{'India',
 'a',
 'bhutan',
 'd',
 'e',
 'i',
 'l',
 'm',
 'n',
 'pakistan',
 's',
 'srilanka',
 'v'}

In [62]:
subset

{'India', 'bhutan'}

In [63]:
subset

{'India', 'bhutan'}

In [64]:
l2=['abc','kjh',0,9,1,'@%']

In [65]:
l2=set(l2)

In [66]:
l2

{0, 1, 9, '@%', 'abc', 'kjh'}

In [1]:
a={10,20,30,40}

In [2]:
b={30,40,60}

In [3]:
a.symmetric_difference(b) # both are given pref

{10, 20, 60}

In [4]:
a.difference(b)# whatever set you write first is given pref

{10, 20}

In [5]:
a-b

{10, 20}

In [6]:
# mode control flow statements

In [73]:
if condition:
    Body
else:
    Body

NameError: name 'condition' is not defined

In [74]:
valid_passwords=['123','abcd','123456']

In [75]:
if '123' in valid_passwords:
    print("match found")
else:
    print("try again")

match found

In [76]:
writing a code to check whether a number is negative or positive

SyntaxError: invalid syntax (<ipython-input-76-d2710b51dec5>, line 1)

In [77]:
num=int(input())
if num==0:
    print("its a zero")
elif num<0:
    print("its a negative num")
else:
    print("its a positive num")

5
its a positive num